*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./images.jpeg);
    background-repeat: repeat;
    /* border: 20px;
    border-color: rgb(8, 0, 0); */
}

h1{
    color: rgb(255, 0, 21);
}
.form{
    height: 600px;
    width: 400px;
    background-color: aliceblue;
    border: 5px dashed red;
    padding: 10px;
    position: absolute;
    top: 200px;
    right: 250px;
    text-align: center;
}
.first{
    height: 40%;
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: black;
    border: 5px solid red;
    border-radius: 25px;
    color: aliceblue;
    font-style: italic;
    text-align: center;
}
.first1{
    height: 5%;
    width: 25%;
    margin-top: 22px;
    margin-left: 20px;
    padding: 5px;
    background-color: black;
    border: 5px solid red;
    border-radius: 25px;
    position: absolute;
    top: 1%;
    left: 18%;
    color: aliceblue;
    font-style: italic;
    text-align: center;
}
.first2{
    height: 10%;
    width: 20%;
    margin-top: 20px;
    margin-right: 40px;
    padding: 10px;
    background-color: black;
    border: 5px solid red;
    border-radius: 25px;
    position: absolute;
    top: 1%;
    right: 2%;
    color: aliceblue;
    font-style: italic;
    text-align: center;
}
.circle{
    background-color: rgb(243, 54, 148);
    border: 5px solid rgb(234, 253, 202);
    position: absolute;
    text-decoration: underline;
    font-style: italic;
    border-radius: 65%;
    padding: 40px 35px;
    margin: 300px 50px 230px 320px;
    width: 25%;
    text-align: center;
    height: 35%;
    width: 16%;
}
.second{
    background-color: black;
    border: 5px solid red;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    padding: 5px;
    position: absolute;
    top: 850px;
    right: 450px;
}
.second1{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
.box{
    color: blue;
    background-color: rgb(186, 235, 122);
    border: 2px solid green;
    height: 190px;
    width: 200px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 950px;
    left: 100px;
}
.box1{
    color: blue;
}
.box2{
    color: blue;
    background-color:rgb(186, 235, 122);;
    border: 2px solid green;
    height: 190px;
    width: 200px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 950px;
    left: 500px;
}
.box3{
    color: blue;
}
.box4{
    color: blue;
    background-color:rgb(186, 235, 122);;
    border: 2px solid green;
    height: 190px;
    width: 230px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 950px;
    left: 900px;
}
.box5{
    color: blue;
}
.box6{
    color: blue;
    background-color:rgb(186, 235, 122);;
    border: 2px solid green;
    height: 190px;
    width: 230px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 1270px;
    left: 100px;
}
.box7{
    color: blue;
}
.box8{
    color: blue;
    background-color:rgb(186, 235, 122);;
    border: 2px solid green;
    height: 190px;
    width: 230px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 1270px;
    left: 500px;
}
.box9{
    color: blue;
}
.box10{
    color: blue;
    background-color:rgb(186, 235, 122);;
    border: 2px solid green;
    height: 220px;
    width: 280px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 1270px;
    left: 900px;
}
.box11{
    color: blue;
}



   